* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(135deg, #2b5876, #4e4376);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333333;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    position: relative;
    width: 100%;
    max-width: 1000px;
    color: #169e16;
}

#gameCanvas {
    border: 5px solid #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0,0.5);
    border-radius: 15px;
    width: 100%;
    max-width: 600px;
    height: auto;
}

.score, .level {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0,0.7);
    font-size: 24px;
    margin-bottom: 10px;
}

.container-level {
    margin-top: 30px;
}

.level {
    background-color: #4caf50;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #fff;
}

.game-over {
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: scale(0.8);
    }

    100%{
        opacity: 1;
        transform: scale(1);
    }
}


#gameOverScreen h1{
    font-size: 3rem;
    color: #ff6347;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0,0.7);
}

.hidden{
    display: none;
}


#restartButton {
    background-color: #ff6347;
    color: #fff;
    margin: 0 40px 0;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}


#restartButton:hover {
    background-color: #c73a21;
    transform: translateY(-5px);
}

#finalScore,
#finalLevel {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    margin: 10px 0;
    color: #fff;
}

@media (max-width: 768px) {

    .score,
    .level {
        font-size: 16px;
    }

    #gameCanvas {
        width: 80vw;
        height: auto;
    }


}


@media(max-width: 480px) {

    .score,
    .level {
        font-size: 14px;
    }
}