* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333333;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    position: relative;
    width: 100%;
    max-width: 1000px;
}

#gameCanvas {
    border: 2px solid #fff;
    width: 100%;
    max-width: 100%;
    max-height: 80vh;
}

#alternarBotaoDeControle {
    padding: 8px;
    border: 1px solid #eee;
    border-radius: 15px;
    background-color: #ff4500;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.score {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.container-level {
    margin-top: 30px;
}

.level {
    padding: 5px 10px;
    background-color: #0026ff;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    outline: none;
}

.game-over {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
}

#restartButton {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #ff4500;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restartButton:hover {
    background-color: #c73500;
    transition: background-color 0.3s ease-in-out;
}

#finalScore,
#finalLevel {
    font-size: 18px;
    margin: 10px 0;
}

.controles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.hide-controls {
    display: none;
}

.hidden {
    display: none;
}


.horizontal-controls {
    display: flex;
    justify-content: center;
}

.control-button {
    width: 60px;
    height: 60px;
    font-size: 40px;
    background-color: #ff4400b6;
    color: #fff;
    border: none;
    margin: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}

.control-button:hover {
    background-color: #c73500;
    transition: background-color 0.3s ease-in-out;
}

#upButton {
    margin-bottom: 10px;
}

#downButton {
    margin-top: 10px;
}

#leftButton {
    margin-left: 10px;
}

#rightButton {
    margin-right: 10px;
}

@media (max-width: 768px) {

    .score,
    .level {
        font-size: 16px;
    }

    #gameCanvas {
        width: 80vw;
        height: auto;
    }

    .control-button {
        width: 70px;
        height: 70px;
        font-size: 45px;
        margin: 8px;
    }

    #alternarBotaoDeControle {
        font-size: 14px;
        padding: 3px 15px;
        margin-top: 15px;

    }


}


@media(max-width: 480px) {

    .score,
    .level {
        font-size: 14px;
    }

    .control-button {
        width: 80px;
        height: 80px;
        font-size: 50px;
        margin: 5px;
    }

    #alternarBotaoDeControle {
        font-size: 14px;
        padding: 4px 10px;
        margin-top: 10px;
    }
}